* {
  margin: 0;
}

body {
  margin: 0;
  background: #f8f8f8;
  font-family: "Helvetica Neue" , "sans-serif";
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  transition: all 1s;
}

#works_side_nav_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#works_side_nav {
  width: 1024px;
  position: fixed;
  margin-top: 336px;
  font-weight: 300;
  /* left: 4px; */
}

#works_side_nav ul{
  list-style: none;
}

#works_side_nav a {
  color: #2f2f2f;
  text-decoration: none;
  display: block;
  width: 56px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.3s;
}

#works_side_nav a::before {
  position: absolute;
  content: "";
  border-top: 1px solid #2f2f2f;
  width: 8px;
  top: 50%;
  left: -24px;
  right: 0px;
  transition: all 0.2s;
}

#works_side_nav a:hover {
  color: #9f9f9f;
}

#works_side_nav a:hover::before{
  /* border: 1px solid #9f9f9f; */
  border-color: #9f9f9f;
  left: -16px;
}

#firstview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 700px;
  /* background: #202020; */
  margin-bottom: 160px;
}

#firstview h1 {
  /* font-family: 'Lato' ,sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 56px;
}

hr {
  margin-bottom: 24px;
}

#firstview h2 {
  font-size: 24px;
  font-weight: 300;
}

#firstview p {
  font-size: 12px;
  font-weight: 400;
}

.page_title {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  margin-bottom: 104px;
}

#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
  z-index: 2;
}

.section {
  width: 600px;
  margin: 0;
  margin-bottom: 128px;
}

.section_title {
  width: 600px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 64px;
  padding-left: 12px;
  border-left: solid 12px #f0f0f0;
}

.section_top {
  display: block;
  width: 600px;
  height: 376px;
  margin-bottom: 6px;
  position: relative;
  overflow: hidden;
}

.section_top img {
  width: 600px;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left:50%;
  top:50%;
  transform: translate3d(-50%, -50%, 0);
}

.hover_mask_top {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  margin: 0;
  transition:all 0.6s ease;
}

.section_top:hover .hover_mask_top{
  opacity: 1;
}

.section_childs {
  display: flex;
}

.section_child {
  width: 196px;
  height: 120px;
  margin-right: 6px;
  position: relative;
  overflow: hidden;
  background: #ffffff;
}

.section_child img {
  width: 196px;
  position: absolute;
  min-width: 100%;
  /* min-height: 100%; */
  left:50%;
  top:50%;
  transform: translate3d(-50%, -50%, 0);
}

.section_child:last-child {
  margin-right: 0;
}

.hover_mask_child {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  margin: 0;
  transition:all 0.6s ease;
}

.section_child:hover .hover_mask_child {
  opacity: 1;
}

footer {
  width:100%;
  height: 120px;
  background: #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
}

/* リンク範囲拡大用コード */
.stretched-link {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1;
  pointer-events:auto;
  content:"";
  background:rgba(0,0,0,0);
  overflow: hidden;
}

@media (max-width: 1024px) {
  
  #works_side_nav {
    position: fixed;
    margin-top: 336px;
    left: 4px;
  }
  
  #works_side_nav ul{
    list-style: none;
  }
  
  #works_side_nav a {
    color: #2f2f2f;
    text-decoration: none;
    display: block;
    width: 56px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s;
  }
  
  #works_side_nav a::before {
    position: absolute;
    content: "";
    border-top: 1px solid #2f2f2f;
    width: 8px;
    top: 50%;
    left: -24px;
    right: 0px;
    transition: all 0.3s;
  }
  
  #works_side_nav a:hover {
    color: #9f9f9f;
  }
  
  #works_side_nav a:hover::before{
    border-color: #9f9f9f;
    left: -16px;
  }
}

@media (max-width: 600px){
  #works {
    margin-bottom: 0;
  }

  #works_side_nav_box {
    visibility: hidden;
  }

  #firstview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 700px;
    /* background: #202020; */
    margin-bottom: 160px;
  }
  
  #firstview h1 {
    /* font-family: 'Lato' ,sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 56px;
  }
  
  hr {
    margin-bottom: 24px;
  }
  
  #firstview h2 {
    font-size: 20px;
    font-weight: 300;
  }
  
  #firstview p {
    font-size: 8px;
    font-weight: 400;
  }


  .section {
    width: 320px;
    margin-bottom: 200px;
  }

  .section_title {
    width: 320px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 64px;
    padding-left: 12px;
    border-left: solid 12px #f0f0f0;
  }
  
  .section_top {
    width: 320px;
    height: 200px;
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
  }
  
  .section_top img {
    position: absolute;
    width: 320px;
    height: 200px;
    /* min-height: 100%; */
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
  }
  
  .hover_mask_top {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    margin: 0;
    transition:all 0.6s ease;
  }
  
  .section_top:hover .hover_mask_top{
    opacity: 1;
  }
  
  .section_childs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section_child {
    width: 320px;
    height: 200px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .section_child img {
    width: 320px;
    height: 200px;
    position: absolute;
    min-width: 100%;
    /* min-height: 100%; */
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
  }
  
  .section_child:last-child {
    margin-right: 0;
  }
  
  .hover_mask_child {
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    margin: 0;
    transition:all 0.6s ease;
  }
  
  .section_child:hover .hover_mask_child {
    opacity: 1;
  }
}